$primaryFont: "Lato", sans-serif;
$secondary-color: white;
$topbar-height: 4rem;
$mainColor: #15023a;
$width: 768px;

/****************************************/
/***********BREAKPOINTS***********************/
/****************************************/
/****BELOW 600px (Phones)****/
/****BETWEEN 600px-900px (TABLETS)****/
$bp-sm: 600px;
/****BETWEEN 900px-1200px (LANDSCAPE)****/
$bp-md: 900px;
/****BETWEEN 1200px-1536px (SMALL DESKTOP)****/
$bp-lg: 1200px;
/****BETWEEN 1200px-1536px (BIG DESKTOP)****/
$bp-xl: 1536px;
